# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Systematic Courses\Geeks-Java Course\code\JAVA-01\Week_12\sunday\code\rabbitmq-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
