# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\系统性课程\极客大学-Java进阶训练营\code\JAVA-01\Week_07\第十四节课作业\必做第一题\dynamic-multiple-datasource\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
