# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\系统性课程\极客大学-Java进阶训练营\code\JAVA-01\Week_06\第十二课作业\选做题\第十二节课选做题第五题\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
