# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\系统性课程\极客大学-Java进阶训练营\code\JAVA-01\Week_03\第五课作业\netty-gateway-01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
