<?xml version="1.0" encoding="UTF-8"?>
<!--跟标签beans，里面配置一个又一个的bean子标签，每一个bean子标签都代表一个类的配置-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
">
    <!--使用默认无参构造函数进行实例化-->
    <bean id="student" class="com.xiaowenhou.xml.Student">
        <property name="name" value="zhangsan"/>
        <property name="course" ref="course"/>
    </bean>
    <bean id="course" class="com.xiaowenhou.xml.Course">
        <property name="courseName" value="Java"/>
    </bean>


    <!--使用静态工厂方法进行实例化-->
    <bean id="user" class="com.xiaowenhou.xml.StaticFactory" factory-method="createStudent"/>

    <!--使用实例工厂进行实例化-->
    <bean id="instanceFactory" class="com.xiaowenhou.xml.InstanceFactory"/>
    <bean id="teacher" factory-bean="instanceFactory" factory-method="createTeacher"/>

</beans>